$dark:#002650;
$light:#f2fafc;
$white:#fff;
$clr-1:#ff692f;
$clr-2:#00A8FF;
$clr-3:#4ECDC4;
$clr-4:#FF9F1C;
body {
    color: $light;
    font-family: Arial, Helvetica, sans-serif;
    background: $dark;
}